:root:root {
  --van-collapse-item-content-background: #f1f5f8;
  --van-collapse-item-content-text-color: #557087;
}

:root {
  --primary-color: white;
  --primary-text-color: #557087;
  --secondary-text-color: #b9c4ce;
  --primary-blue: #2f5cd4;
}

.float-start {
  float: left;
}

.float-end {
  float: right;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

em {
  font-style: normal;
}

.van-popover__content {
  overflow-y: scroll !important;
  max-height: 200px;
}
